.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    width: 32px;
    padding: 5px;
}

.social-icons img {
    max-width: 32px;
}

.logo {
    max-width: 20%;
}

.portrait-image {
    max-width: 250px;
}

.project-navigation-buttons {
    list-style: none;
    text-align: center;
}

.project-navigation-buttons li {
    display: inline-block;
}

.body-background {
    background-color:#FFF8DC;
}