/*
Colors used:
Primary Color (Beige): #FFEFD5;
Secondary Color (Olive Green): #556B2F;
*/


.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    width: 32px;
    padding: 5px;
}

.social-icons img {
    max-width: 32px;
}

.logo {
    max-width: 20%;
}

.portrait-image {
    max-width: 250px;
}

.project-image {
    max-width: 25%;
}
.project-navigation-buttons {
    list-style: none;
    text-align: center;
}

.project-navigation-buttons li {
    display: inline-block;
}

/*this is a class right? div.intro overrode h1*/

div.intro {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 3em;
    font-weight: 600;
    line-height: 1;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color:#556B2F;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:black;
}

.project-title {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color:black;
}

span {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
body {
    background-color: #FFF5EE;
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-style: normal;
}

header {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
}

header {
  background-color: #b4b8a6;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 0 auto;
  border-bottom: 2.5px solid #4a4a4a;

}

ul {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}

footer {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}

  /* gen img responsive sizing */

  img {
    width: 100%;
  }


  /* HYPERLINKS */

a {
    color: black;
    text-decoration: none; /* No underlining */
  }
a:visited { /* visited link */
    color: purple;
  }
a:hover {
    color: #556B2F;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
a:active { /* selected link */
    color: blue;
  }
a:focus {
  color: blue;
  text-decoration: underline;
}

  /* BUTTONS */

.button {
  color: #556B2F; /* needed to override the default link color */
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block*/
  background-color: #d7d1d1;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 4px;
  border-bottom: 2px solid #d7d1d1; /* width of the border, type, color */
  transition: 0.3s opacity;
  }

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: underline;
  color: blue; 
  }

.button:active {
  color: #556B2F; /* needed to override the default link color */
  background-color: #d7d1d1;
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
  border-radius: 4px;
  border-bottom: 2px solid #d7d1d1; /* width of the border, type, color */
  transition: 0.3s opacity;
}


.button.contact {
  background-color: transparent;
  color: #ff7f50; 
  border: 2px solid #ff7f50;
  }

  .button.contact:hover {
  background-color: #556B2F;
  color: #ffffff;
  }

  .button.contact:active {
  background-color: #ff7f50;
  color: #556B2F;
  }